body, html {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--page-bg-clr);
}

input, button, select, textarea {
    font-family: 'Roboto Flex', sans-serif;
}

circle {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

text, circle text {
    cursor: pointer;
}

.right-pane, .left-pane {
    background-color: var(--pane-bg-clr);
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px; 
    width: 15vw;
    margin: 0 auto;
    padding: 3px;
}

.right-pane {
    gap: 0px;
}

.settings {
    background-color: var(--pane-bg-clr);
    padding-left: 5%;
    padding-bottom: 3%;
}

.graph-container {
    height: 100vh; 
    width: 70vw; 
    background-color: var(--page-bg-clr);
}

.left-pane input[type="text"],
.left-pane input[type="range"] {
    width: 90%; 
    margin: 5px 0;
}

.right-pane h2, .left-pane h2 {
    margin-top: 0;
    font-size: 1.3rem;
    margin: 0;
    padding: 3px; 
    text-align: center;
    font-weight: bold;
    color: white;
}

.left-pane h2 {
    background-color: var(--pane-ttle-bg-clr);
}

.right-pane p {
    text-align: left;
    padding: 3px;
    margin: 0;
    font-size: .8rem;
}

.description-header, .dependencies-header {
    margin-top: 0;
    font-size: 1rem;
    margin: 0;
    padding: 3px; 
    text-align: center;
    background-color: var(--descrip-clr);
    font-weight: bold;
    color: white;
    /* border-radius: 5px; */
}

.right-pane .dependencies-header {
    background-color: var(--depend-hdr-clr);
}

.right-pane .dependency-type {
    color: white;
    border-bottom: none;
}

.right-pane .dependency-node {
    padding: 3px;
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
}

.right-pane h4 {
    margin-top: 10px;
}

.failed-search {
    color: white;
    font-size: .7rem;
    text-align: left;
    background-color: var(--pane-ttle-bg-clr);
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px;
    opacity: 0.8;
}

title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--pane-ttle-bg-clr);
    text-align: center;
    margin: 0;
    padding: 3px;
}

.graph-container {
    border-left: 3px solid var(--bdr-clr);
    border-right: 3px solid var(--bdr-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;  
    position: relative;
}

.graph-container svg {
    width: 100%;
    height: 100%;
    display: block;
    cursor: move;
}

.custom-slider {
    width: 90%;
    margin: 0px auto;
}

.custom-slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    margin: 0;
    cursor: default;
    position: relative;
}

.custom-slider input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--pane-ttle-bg-clr) 0%, var(--pane-ttle-bg-clr) var(--value), var(--page-bg-clr) var(--value), var(--page-bg-clr) 100%);
}

.custom-slider input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--pane-ttle-bg-clr) ;
}

.custom-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--pane-ttle-bg-clr) ;
    width: 12px;
    height: 40px;
    margin-top: -14px;
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid var(--pane-bg-clr);
}

.custom-slider input[type="range"]::-moz-range-thumb {
    background-color: var(--pane-ttle-bg-clr) ;
    width: 3px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bdr-clr);
    border-radius: 2px;
    cursor: pointer;
    min-height: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 0px 2px; 
}

.button-container {
    display: flex;
    justify-content: center;
}

#homeButton, #refreshButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

.home-icon, .refresh-icon, .settings-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.custom-slider input {
    width: 100%; 
}

.search-input-and-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background-color: var(--page-bg-clr);
    border-radius: 15px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Roboto Flex', sans-serif;
    max-height: 150px;
}

.autocomplete-suggestions {
    font-size: .8rem;
    position: relative;
    padding: 5px 0 5px 10px;
}

.autocomplete-suggestions:hover {
    background-color: var(--bdr-clr);
    color: white;
    cursor: pointer;
}

#searchInput {
    font-size: .8rem;
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    color: black; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    padding: 0px 10px 0px 0px;
}

#searchButton, #clearButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding-left: 8px;
    margin: 0;
    cursor: pointer;
}

.search-icon, .clear-icon {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.search-icon:hover, .clear-icon:hover {
    opacity: 1;
}

label, span {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: var(--pane-ttle-bg-clr);
    font-size: .7rem;
    margin-left: 10%;
}

.depthSlider {
    margin: 0 auto;
}

span {
    text-align: center;
}

.dependency-type {
    font-size: 16px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.dependency-type:hover, .dependency-node:hover {
    text-decoration: underline;
}

.dependency-node-container {
    position: relative;
}

.hover-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 100%; /* Position above the dependency node */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--page-bg-clr);
    border: 1px solid var(--bdr-clr);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--pane-ttle-bg-clr);
    z-index: 100; 
    width: max-content;
    white-space: nowrap;
    font-size: 0.8rem;
    pointer-events: none; /* Prevent interaction issues */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

.dependency-node-container:hover .hover-box {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Enable interaction when visible */
}

.dependency-node:hover + .hover-box {
    display: block; 
}

.switches-container {
    margin-top: 10px;
}

.switch {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 23px;
    margin-right: 5px;
}

.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 5.5px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--pane-ttle-bg-clr);
}

input:checked + .slider:before {
    transform: translateX(14px);
    height: 16px;
    width: 16px;
    right: 0px;
    bottom: 3.5px;
}

input + .slider {
    background-color: var(--bdr-clr);
    transition: 0.4s;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0s ease-out, transform 1s ease-in;
}

input:checked + .slider .checkmark {
    opacity: 1;
}

