<!--

Left Pane: Provides a user interface with search and depth controls.
Center Pane: Allocates space for displaying the graph visualization.
Right Pane: Displays details for the selected node.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Diagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@100..151;00..1000&display=swap" rel="stylesheet">
</head>
<style>
    :root {
        --page-bg-clr: #ebedef;
        --pane-bg-clr: #D6DBDF;
        --pane-ttle-bg-clr: #2E4053;
        --descrip-clr: #4F81BD;
        --depend-hdr-clr: #4F81BD;
        --bdr-clr: #85929E;
        --text-clr: #17202A;
        --link-clr: #2e4053;

        --home-nde-clr: #2E4053;
        --app-nde-clr: #3498DB;
        --ppl-nde-clr: #229954;
        --tech-nde-clr: #C0504D;
        --data-nde-clr: #A5A5A5;
        --procure-nde-clr: #F79646;
        --fclty-nde-clr: #8064A2;
        --sver-nde-clr: #f4d03f;
        
    }
</style>
<body>
    <div class="left-side-wrapper" style="display: flex; flex-direction: column;">
        <div class="left-pane">
            <h2>CIO Dashboard</h2>
            <div class="button-container">
                <button id="homeButton" title="Home">
                    <img src="{{ url_for('static', filename='images/house.svg') }}" alt="Home Icon" class="home-icon">
                </button>
                <button id="refreshButton" title="Reset Forces">
                    <img src="{{ url_for('static', filename='images/refresh.svg') }}" alt="Refresh Icon" class="refresh-icon">
                </button>
            </div>
            <div class="failed-search" style="display: none;"></div>
            <div class="search-container">
                <div class="search-input-and-button">
                    <button id="searchButton" title="Search">
                        <img src="{{ url_for('static', filename='images/search.svg') }}" class="search-icon" alt="Search Icon" title="Search Node">
                    </button>
                    <input type="text" id="searchInput" placeholder="Search">
                    <button id="clearButton" title="Clear Search" style="display: none;">
                        <img src="{{ url_for('static', filename='images/x.svg') }}" class="clear-icon" alt="Clear Icon">
                    </button>          
                </div>
                <div id="autocompleteSuggestions"></div>
            </div>                      
        
            <label class="depthSlider" for="depthSlider">Depth<span id="depthValue"> 2</span></label>
            <div class="custom-slider" title="Change Depth">
                <input type="range" id="depthSlider" min="1" max="3" value="2" step="1">
            </div>

            <div class="switches-container">
                <label class="switch">
                    <input type="checkbox" id="typeNodesSwitch" checked>
                    <span class="slider round">
                        <img src="{{ url_for('static', filename='images/check.svg') }}" class="checkmark" alt="Checkmark">
                    </span>
                    Display Group Nodes
                </label>
                <label class="switch">
                    <input type="checkbox" id="labelNodesSwitch" checked>
                    <span class="slider round">
                        <img src="{{ url_for('static', filename='images/check.svg') }}" class="checkmark" alt="Checkmark">
                    </span>
                    Display Asset Nodes
                </label>
        <!--    <label class="switch">
                    <input type="checkbox" id="indirectRelationshipsSwitch">
                    <span class="slider round">
                        <img src="{{ url_for('static', filename='images/check.svg') }}" class="checkmark" alt="Checkmark">
                    </span>
                    Display Indirect Relationships
                </label>   -->             
            </div>
        </div>

        <!--<div class="settings"> 
            <img src="{{ url_for('static', filename='images/settings.svg') }}" alt="Settings Icon" class="settings-icon" title="Settings">
        </div>-->
    </div>

    <div class="graph-container">
        <svg></svg>
    </div>

    <div class="tooltip" id="tooltip"></div>
    <div class="right-pane"></div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <script src="https://unpkg.com/html-to-image@1.6.0/dist/html-to-image.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
